In [16]:
import pandas as pd
import re

In [17]:

# Assuming the data is loaded into a DataFrame
data = {
    'Device_Type': ['AXO145', 'TRU151', 'ZOD231', 'YRT326', 'LWR245'],
    'Stats_Access_Link': [
        '<url>https://xcd32112.smart_meter.com</url>',
        '<url>http://txh67.dia_meter.com</url>',
        '<url>http://yt5495.smart_meter.com</url>',
        '<url>https://ret323_TRu.crown.com</url>',
        '<url>https://lwr3243.celcius.com</url>'
    ]
}

df = pd.DataFrame(data)
df

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://txh67.dia_meter.com</url>
2      ZOD231     <url>http://yt5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245       <url>https://lwr3243.celcius.com</url>

In [18]:


def extract_url(link):
    match = re.search(r'<url>https?://([a-z0-9_\.]+)</url>', link, re.IGNORECASE)
    if match:
        return match.group(1)
    return None

df['Stats_Access_Link'] = df['Stats_Access_Link'].apply(extract_url)

df

  Device_Type         Stats_Access_Link
0      AXO145  xcd32112.smart_meter.com
1      TRU151       txh67.dia_meter.com
2      ZOD231    yt5495.smart_meter.com
3      YRT326      ret323_TRu.crown.com
4      LWR245       lwr3243.celcius.com